## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [0]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [113]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

len(sample_list_1) == len(set(sample_list_1))

[18, 82, 63, 12, 79, 36, 17, 40, 34, 21, 16, 25, 87, 92, 42, 53, 22, 10, 54, 48, 68, 72, 8, 60, 44, 37, 20, 51, 47, 24, 41, 80, 57, 93, 85, 99, 62, 83, 3, 30, 26, 61, 5, 1, 39, 75, 74, 76, 9, 81, 29, 58, 28, 73, 38, 95, 70, 2, 98, 49, 19, 45, 52, 15, 11, 6, 89, 35, 0, 31, 64, 77, 90, 78, 13, 69, 91, 27, 56, 14]

True

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [114]:
# Your code here
# Done on topüëÜüèº. Obrigada Luke!

set1 = set(sample_list_1)
print(set1)

{0, 1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 89, 90, 91, 92, 93, 95, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.


Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [115]:
# Your code here
sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)

[36, 67, 100, 80, 98, 4, 73, 85, 100, 4, 87, 75, 41, 56, 6, 90, 66, 95, 46, 9, 86, 9, 28, 88, 46, 84, 35, 9, 19, 76, 99, 100, 8, 98, 16, 41, 92, 94, 70, 56, 37, 31, 22, 32, 91, 94, 17, 1, 30, 89, 71, 49, 58, 23, 16, 65, 42, 80, 81, 74, 25, 21, 74, 58, 67, 2, 89, 92, 62, 82, 70, 55, 97, 29, 69, 4, 85, 9, 35, 28]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [116]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
print(set2)

# NOPE - It erased the repeated items

57
{1, 2, 4, 6, 8, 9, 16, 17, 19, 21, 22, 23, 25, 28, 29, 30, 31, 32, 35, 36, 37, 41, 42, 46, 49, 55, 56, 58, 62, 65, 66, 67, 69, 70, 71, 73, 74, 75, 76, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 97, 98, 99, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [117]:
# Your code here
set3 = set1.difference(set2)
print(len(set3))

38

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [118]:
# Your code here
set4 = set2.difference(set1)
print(len(set4))

15

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [119]:
# Your code here
set5 = set1.intersection(set2)
print(len(set5))

42

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [120]:
# Your code here
# Set3 holds the values that exist in set1 but not in set2
# Set4 holds the values that exist in set2 but not in set1
# set5 holds the values that exist in set2 and in set1

# Shows that set1 holds the values of whatever is not in set 2 + the intersection of set1 with set2
print(len(set1) == len(set3)+len(set5))

# Shows that set2 holds the values of whatever is not in set 1 + the intersection of set1 with set2
print(len(set2) == len(set4)+len(set5))

# Shows that the sum of set1 and 2 minus the intersection between them is equal to the sum of:
#  > whatever is in set 1 and not in set2
#  > whatever is in set 2 and not in set1
#  > whatever is in both
print(len(set2) + len(set1) - len(set5) == len(set3)+ len(set4) + len(set5))

True
True
True

#### Create an empty set called `set6`.

In [121]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [122]:
# Your code here

set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 89, 90, 91, 92, 93, 95, 98, 99}

#### Check if `set1` and `set6` are equal.

In [123]:
# Your code here
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [124]:
# Your code here

print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [125]:
# Your code here
set3.union(set4,set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [126]:
# Your code here

# QUES sets are inherently unordered. There is no meaningful "first" or "last" element.
set1.pop()
print(set1)

{1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 89, 90, 91, 92, 93, 95, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [0]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [128]:
for num in list_to_remove:
  if num in set1:
    set1.remove(num)

print(set1)

{2, 3, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 26, 27, 28, 30, 34, 35, 36, 37, 38, 40, 42, 44, 45, 47, 48, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 85, 87, 90, 92, 93, 95, 98}